

<div class="title">
  <%= image_tag("logo.png") %>
</div><!-- title -->
<div class="contatiner">

  <div class="twitter-feed">
    <a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/starwars?ref_src=twsrc%5Etfw">Tweets by starwars</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div><!-- twitter-feed -->
  <div class="slot-machine">
    <h1>Is the force strong in you?</h1>

    <img src="/images/bb-8.jpg" alt="">
    <div class="slots">
      <div class="results">
        <%= image_tag(@result[0], :class => "box") %>
        <%= image_tag(@result[1], :class => "box") %>
        <%= image_tag(@result[2], :class => "box") %>
      </div>
    </div>
    <h1>
    <%if @score == 0 %>
      no...its not
    <% else %>
      yes it is.. <%= @score%> points
    <% end %>
    </h1>
  </div><!-- slot-machine -->

</div>
  <%#=$thing.points += @score%>



<!-- AIzaSyDXlhfFd0TZmPoReIwKnyawdkrQpF1Fthg -->
<img src='https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDXlhfFd0TZmPoReIwKnyawdkrQpF1Fthg' alt="" style="height:100%;width: 100%;">




<%= link_to 'Profile', profiles_path%>
