

<h1>STARWARS</h1>
<h1>Is the force strong in you?</h1>

<img src="/images/bb-8.jpg" alt="">

<!-- AJAX THIS  -->

  <div class="slots">
    <div class="results">
      <%= image_tag(@result[0], :class => "box") %>
      <%= image_tag(@result[1], :class => "box") %>
      <%= image_tag(@result[2], :class => "box") %>
    </div>
  </div>



  <h1>
  <%if @score == 0 %>
    no...its not
  <% else %>
    yes it is.. <%= @score%> points
  <% end %>
</h1>

  <%#=$thing.points += @score%>

  <!-- <h2><%#= Token.all.each{|i|i.score} %></h2> -->
  <a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/starwars?ref_src=twsrc%5Etfw">Tweets by starwars</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- AIzaSyDXlhfFd0TZmPoReIwKnyawdkrQpF1Fthg -->
<div id="map"></div>
  <script>
    function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXlhfFd0TZmPoReIwKnyawdkrQpF1Fthg&callback=initMap">
  </script>



<%= link_to 'Profile', profiles_path%>
