<p id="notice"><%= notice %></p>

<%= render 'loginlogout'%>

<h1 class="leaderboard_heading">Profiles</h1>



<br>

<div class="credits">
  <div class="fade"></div>

  <section class="star-wars">

    <div class="crawl">
      <div class="title">
        <h1 class="leaderboard_heading">Leaderboard</h1>
      </div>
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th></th>
            <th>Score</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><img class="profile_image" src="<%= profile.avatar_url%>"></td>
              <td class="leaderboard_username"><h1><%= profile.username %></h1></td>
              <td></td>
              <td class="leaderboard_score"><h1><%= profile.user.score%></h1></td>
              <!-- <td><#%= link_to 'Show', profile %></td>
              <td><#%= link_to 'Edit', edit_profile_path(profile) %></td>
              <td><#%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </section>
</div>



<%= link_to 'New Profile', new_profile_path %>
