<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @token.user %>
</p>

<p>
  <strong>Points:</strong>
  <%= @token.points %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
